<!DOCTYPE html>
<html>
<head>
    <title>ILG - Admin</title>
    <!--/*/ <th:block th:include="fragments/head :: head"></th:block> /*/-->
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-primary">
        <a class="navbar-brand" th:href="@{/}">
            <img th:src="@{/img/admin.png}" alt="ILG" />
            <span>Administrador</span>
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="btn btn-primary" th:href="@{/admin/habilitaInscricao}"> VOLTAR </a>
                </li>
            </ul>
        </div>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="btn btn-primary" th:href="@{logout}"> Sair </a>
                </li>
            </ul>
        </div>
    </nav>

</header>
<br/>
<br/>
<br/>

<div class="container">
    <div class="row">
        <div class="col-12 align-middle registro">
            <div th:if="${erro}">
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <span th:text="${erro}"></span>
                </div>
            </div>
            <div class="card">
                <div class="card-header text-center" style="background-color: #D3D3D3;">
                    <b>ATUALIZAR INSCRICAO</b>
                </div>
                <div class="card-body">
                    <h4 class="card-title text-center">
                        Entre com os dados para atualizar a inscrição!
                    </h4>
                    <form th:action="@{/admin/habilitaInscricao/edit/{id} (id=${inscricao.id})}" th:object="${inscricao}" method="post">
                        <div class="form-row">
                            <div class="form-group col-12 col-lg-6">
                                <label for="data_ini">Data Início:<span class="obrigatorio">*</span></label>
                                <input class="form-control" th:value="${inscricao.data_ini}" type="text" id="data_ini" name="data_ini" required="required"/>
                            </div>
                            <div class="form-group col-12 col-lg-6">
                                <label for="data_fim">Data Fim:<span class="obrigatorio">*</span></label>
                                <input class="form-control"  th:value="${inscricao.data_fim}" type="text" name="data_fim" id="data_fim" required="required"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <button id="btn-subimit" style="float: right" type="submit" class="btn btn-primary">Atualizar</button>
                        </div>
                    </form>
                    <script>
                        $(document).ready(function () {
                            $('#data_ini').mask('00/00/0000', {placeholder: "__/__/____"});
                        });
                        $('#data_ini').datepicker({
                            format: 'dd/mm/yyyy',
                            autoclose: true,
                            language: 'pt-BR'
                        });
                        $(document).ready(function () {
                            $('#data_fim').mask('00/00/0000', {placeholder: "__/__/____"});
                        });
                        $('#data_fim').datepicker({
                            format: 'dd/mm/yyyy',
                            autoclose: true,
                            language: 'pt-BR'
                        });
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>
<footer>
</footer>
</body>
</html>