<!DOCTYPE html>
<html>
<head>
    <title>ILG - Admin</title>
    <!--/*/ <th:block th:include="fragments/head :: head"></th:block> /*/-->
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-primary">
        <a class="navbar-brand" th:href="@{/}">
            <img th:src="@{/img/admin.png}" alt="ILG" />
            <span>Administrador </span>
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="btn btn-primary" th:href="@{/admin/turmas}"> TURMAS </a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-primary" th:href="@{/admin/cursos}"> CURSOS </a>
                </li>
                <li class="nav-item active">
                    <a class="btn btn-primary active" th:href="@{/admin/funcionarios}"> FUNCIONÁRIOS </a>
                </li>
            </ul>
        </div>
    </nav>

</header>

<br/>
<br/>
<br/>

<div class = "card" style="width: 80%; margin: auto">
    <div class="card-header text-center bg-info">
        <b>Funcionários</b>
    </div>
    <div class="card-body">

        <table class="table table-striped">
            <thead>
            <tr>
                <th>#Id</th>
                <th>Nome</th>
                <th>Data de Nascimento</th>
                <th>CPF</th>
                <th>Tipo</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="funcio: ${funcionarios}">
                <td th:text="${funcio.id}"></td>
                <td th:text="${funcio.nome} ${funcio.sobrenome}"></td>
                <td th:text="${funcio.nascimento}"></td>
                <td th:text="${funcio.cpf}"></td>
                <td th:text="${funcio.acesso}"></td>
                <td>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                        +
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel"></h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p class="text-left" th:text="${funcio.sexo}">Sexo: </p>
                                    <p class="text-left" th:text="${funcio.rg}">RG: </p>
                                    <p class="text-left" th:text="${funcio.telefone}">Telefone: </p>

                                </div>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <button type="button" class="btn btn-warning btn-sm"
                            th:href="@{/admin/funcionarios/edit/{id} (id=${funcio.id})}">Editar</button>
                </td>
                <td>
                    <button type="button" class="btn btn-danger btn-sm"
                            th:href="@{/admin/funcionarios/delete/{id} (id=${funcio.id})}">Excluir</button>
                </td>
            </tr>
            </tbody>
        </table>

    </div>
</div>

<footer style="position: absolute; bottom: 5%; left: 3%">
    <div class="panel-footer">
        <a class="btn btn-sm btn-success" th:href="@{/admin/funcionario/add/}" >Adicionar</a>
    </div>
</footer>

</body>
</html>