<!DOCTYPE html>
<html>
<head>
    <title>ILG - Admin</title>
    <!--/*/ <th:block th:include="fragments/head :: head"></th:block> /*/-->
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-primary">
        <a class="navbar-brand" th:href="@{/admin}">
            <img th:src="@{/img/admin.png}" alt="ILG" />
            <span>Administrador</span>
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="btn btn-primary" th:href="@{/admin/admTurmas}"> TURMAS </a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-primary" th:href="@{/admin/admCursos}"> CURSOS </a>
                </li>
                <li class="nav-item active">
                    <a class="btn btn-primary" th:href="@{/admin/admFuncionarios}"> FUNCIONÁRIOS </a>
                </li>
                <li class="nav-item active">
                    <a class="btn btn-primary active" th:href="@{/admin/habilitaInscricao}"> INSCRIÇÃO</a>
                </li>
            </ul>
        </div>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <a class="btn btn-primary" onclick="swal(
                                                          'Precisa de Ajuda?',
                                                          'Aqui o administrador pode agendar as inscrições presentes no ILG! ' +
                                                           'Para inserir uma nova inscrição, clique no botão (adicionar) na barra inferior da tela, preencha as ' +
                                                            'informações necessárias e clique em cadastrar! Após, a inscrição pode ser editada ou excluída, ' +
                                                             'apertando-se o botões em amarelo/vermelho respectivamente, na linha onde a mesma se encontra.',
                                                          'question'
                                                        )"> Ajuda </a>
                <li class="nav-item">
                    <a class="btn btn-primary" th:href="@{/logout}"> Sair </a>
                </li>
            </ul>
        </div>
    </nav>
</header>

<br/>
<br/>
<br/>
<div style="width: 80%; margin: auto">
    <div th:if="${sucesso}">
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <span th:text="${sucesso}"></span>
        </div>
    </div>
</div>
<div style="width: 80%; margin: auto">
    <div th:if="${editado}">
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <span th:text="${editado}"></span>
        </div>
    </div>
</div>
<div style="width: 80%; margin: auto">
    <div th:if="${excluido}">
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <span th:text="${excluido}"></span>
        </div>
    </div>
</div>

<div class = "card" style="width: 80%; margin: auto">
    <div class="card-header text-center" style="background-color: #D3D3D3;">
        <b>Inscrições</b>
    </div>
    <div class="card-body">

        <table class="table table-striped">
            <thead>
            <tr>
                <th>#Id</th>
                <th>Inicio</th>
                <th>Fim</th>
                <th></th>
                <th>Aprovados</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="inscricao: ${inscricao}">
                <td th:text="${inscricao.id}"></td>
                <td th:text="${inscricao.data_ini}"></td>
                <td th:text="${inscricao.data_fim}"></td>
                <td>
                    <div class="btn-group" role="group">
                        <a class="btn btn-warning btn-sm"
                           th:href="@{/admin/habilitaInscricao/edit/{id} (id=${inscricao.id})}">Editar</a>
                        <a type="button" class="btn btn-danger btn-sm"
                           th:href="@{/admin/habilitaInscricao/delete/{id} (id=${inscricao.id})}">Excluir</a>
                    </div>
                </td>
                <td>
                    <div class="btn-group" role="group">
                        <a class="btn btn-primary btn-sm"
                           th:href="@{/}">Ver Lista</a>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>

    </div>
</div>

<br/>
<br/>
<br/>

<footer>
    <nav class="navbar fixed-bottom navbar-light bg-light">
        <a class="btn btn-sm btn-success" th:href="@{/admin/habilitaInscricao/register}" >Adicionar</a>
    </nav>
</footer>

</body>
</html>