<!DOCTYPE html>
<html>
<head>
    <title>ILG - Admin</title>
    <!--/*/ <th:block th:include="fragments/head :: head"></th:block> /*/-->
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-primary">
        <a class="navbar-brand" th:href="@{/}">
            <img th:src="@{/img/admin.png}" alt="ILG" />
            <span>Administrador </span>
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="btn btn-primary" th:href="@{/admFuncionarios}"> VOLTAR </a>
                </li>
            </ul>
        </div>
    </nav>

</header>
<br/>
<br/>
<br/>

    <div class="container">
        <div class="row">
            <div class="col-12 align-middle registro">
                <div th:if="${erro}">
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <span th:text="${erro}"></span>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header text-center bg-info">
                        <b>NOVO FUNCIONÁRIO</b>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title text-center">
                            Entre com os dados para registrar um novo funcionário!
                        </h4>
                        <form th:action="@{/admFuncionarios/register}" th:object="${usuario}" method="post">
                            <div class="form-row">
                                <div class="form-group col-12 col-lg-6">
                                    <label for="nome">Nome<span class="obrigatorio">*</span></label>
                                    <input class="form-control" type="text" th:field="*{nome}" required="required"/>
                                </div>
                                <div class="form-group col-12 col-lg-6">
                                    <label for="sobrenome">Sobrenome<span class="obrigatorio">*</span></label>
                                    <input class="form-control" type="text" th:field="*{sobrenome}" required="required"/>
                                </div>
                                <div class="form-group col-12 col-lg-6">
                                    <label>Sexo<span class="obrigatorio">*</span></label><br/>
                                    <div th:each="sexo : ${T(com.silverdev.ilg.model.enums.Sexo).values()}" class="form-check form-check-inline">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="radio" th:field="*{sexo}" name="sexo" th:value="${sexo}" th:text="${sexo.sexo}"/>
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group col-12 col-lg-6">
                                    <label for="data_nascimento" class="col-form-label">Data de nascimento<span class="obrigatorio">*</span></label>
                                    <input id="data_nascimento" name="data_nascimento" type="date" class="form-control"
                                            required="required"/>
                                </div>
                                <div class="form-group col-12 col-lg-4">
                                    <label for="cpf" class="col-form-label">CPF<span class="obrigatorio">*</span></label>
                                    <input id="cpf" class="form-control"  type="text"
                                           th:field="*{cpf}" required="required"/>
                                </div>
                                <div class="form-group col-12 col-lg-4">
                                    <label for="rg" class="col-form-label">RG<span class="obrigatorio">*</span></label>
                                    <input id="rg" class="form-control" placeholder="Digite o RG" type="text"
                                           th:field="*{rg}" required="required"/>
                                </div>
                                <div class="form-group col-12 col-lg-4">
                                    <label for="telefone" class="col-form-label">Telefone<span class="obrigatorio">*</span></label>
                                    <input id="telefone" class="form-control" type="text"
                                           th:field="*{telefone}" required="required"/>
                                </div>
                                <div class="form-group col-12 col-lg-4">
                                    <label for="role">Tipo de Usuário<span class="obrigatorio">*</span></label><br/>
                                    <div class="form-check form-check-inline">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="radio" name="acesso" th:field="*{acesso}" th:value="${T(com.silverdev.ilg.model.enums.Role).ROLE_SECRETARIA}" th:text="${T(com.silverdev.ilg.model.enums.Role).ROLE_SECRETARIA.getAcesso()}"/>
                                        </label>
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="radio" name="acesso" th:field="*{acesso}" th:value="${T(com.silverdev.ilg.model.enums.Role).ROLE_PROFESSOR}" th:text="${T(com.silverdev.ilg.model.enums.Role).ROLE_PROFESSOR.getAcesso()}"/>
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group col-12 col-lg-4">
                                    <label for="username">Username<span class="obrigatorio">*</span></label>
                                    <input class="form-control" type="text" th:field="*{username}" required="required"/>
                                    <span id="userErro" class="invalid-feedback" role="alert"></span>
                                </div>
                                <div class="form-group col-12 col-lg-4">
                                    <label for="password">Password<span class="obrigatorio">*</span></label>
                                    <input class="form-control" type="password" th:field="*{password}" required="required"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <button id="btn-subimit" style="float: right" type="submit" class="btn btn-primary">Cadastrar</button>
                            </div>
                        </form>
                        <script>
                            /* <![CDATA[ */
                            $(document).ready(function () {
                                $('#cpf').mask('000.000.000-00');
                                $('#data_nascimento').mask('00/00/0000', {placeholder: "__/__/____"});
                                $('#telefone').mask('(00) 0000-00000').keyup(function () {
                                    var size = $(this).val().length;
                                    if(size > 14)
                                        $(this).mask('(00) 00000-0000')
                                });
                                $('#rg').mask('00.000.000-0');
                            });
                            $('#cpf').focusout(function () {
                                var cpf = validaCPF();
                                if(cpf) {
                                    $(this).removeClass('is-invalid');
                                    $('#btn-subimit').attr('disabled', false);
                                } else {
                                    $(this).addClass('is-invalid');
                                    $('#CPFerror').text("CPF Inválido");
                                    $('#btn-subimit').attr('disabled',true);
                                }
                            });
                            /* ]]> */
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>

<footer>

</footer>
</body>
</html>