<!DOCTYPE html>
<html>
<head>
    <title>ILG - Admin</title>
    <!--/*/ <th:block th:include="fragments/head :: head"></th:block> /*/-->
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-primary">
        <a class="navbar-brand" th:href="@{/admin}">
            <img th:src="@{/img/admin.png}" alt="ILG" />
            <span>Administrador </span>
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="btn btn-primary" th:href="@{/admin/admFuncionarios}"> VOLTAR </a>
                </li>
            </ul>
        </div>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="btn btn-primary" th:href="@{/logout}"> Sair </a>
                </li>
            </ul>
        </div>
    </nav>

</header>
<br/>
<br/>
<br/>

    <div class="container">
        <div class="row">
            <div class="col-12 align-middle registro">
                <div th:if="${error_cpf}">
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <span th:text="${error_cpf}"></span>
                    </div>
                </div>
                <div th:if="${error_user}">
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <span th:text="${error_user}"></span>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header text-center" style="background-color: #D3D3D3;">
                        <b>NOVO FUNCIONÁRIO</b>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title text-center">
                            Entre com os dados para registrar um novo funcionário!
                        </h4>
                        <form th:action="@{/admin/admFuncionarios/register}" th:object="${usuario}" method="post">
                            <div class="form-row">
                                <div class="form-group col-12 col-lg-6">
                                    <label for="nome">Nome<span class="obrigatorio">*</span></label>
                                    <input class="form-control" type="text" th:field="*{nome}" placeholder="Insira seu Nome " required="required"/>
                                </div>
                                <div class="form-group col-12 col-lg-6">
                                    <label for="sobrenome">Sobrenome<span class="obrigatorio">*</span></label>
                                    <input class="form-control" type="text" th:field="*{sobrenome}" placeholder="Insira seu Sobrenome " required="required"/>
                                </div>
                                <div class="form-group col-12 col-lg-6">
                                    <label>Sexo<span class="obrigatorio">*</span></label><br/>
                                    <div th:each="sexo : ${T(com.silverdev.ilg.model.enums.Sexo).values()}" class="form-check form-check-inline">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="radio" th:field="*{sexo}" name="sexo" th:value="${sexo}" th:text="${sexo.sexo}"/>
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group col-12 col-lg-3">
                                    <label for="data_nascimento" class="col-form-label">Data de nascimento<span class="obrigatorio">*</span></label>
                                    <input id="data_nascimento" name="data_nascimento" placeholder="Insira sua Data de Nascimento " type="date" class="form-control"
                                            required="required"/>
                                </div>
                                <div class="form-group col-12 col-lg-3">
                                    <label for="email" class="col-form-label">E-mail<span class="obrigatorio">*</span></label>
                                    <input id="email" name="email" placeholder="Insira seu e-mail" type="email" class="form-control"
                                           required="required"/>
                                </div>
                                <div class="form-group col-12 col-lg-4">
                                    <label for="cpf" class="col-form-label">CPF<span class="obrigatorio">*</span></label>
                                    <input id="cpf" class="form-control"  type="text" placeholder="Insira seu CPF "
                                           th:field="*{cpf}"  required="required"/>
                                    <!--div th:if="${#fields.hasErrors('cpf')}" th:errors="*{cpf}" class="invalid-feedback"></div>
                                    <span id="CPFerror" class="invalid-feedback" role="alert"></span-->
                                </div>
                                <div class="form-group col-12 col-lg-4">
                                    <label for="rg" class="col-form-label">RG<span class="obrigatorio">*</span></label>
                                    <input id="rg" class="form-control" type="text" placeholder="Insira seu RG "
                                           th:field="*{rg}" required="required"/>
                                </div>
                                <div class="form-group col-12 col-lg-4">
                                    <label for="telefone" class="col-form-label">Telefone<span class="obrigatorio">*</span></label>
                                    <input id="telefone" class="form-control" type="text" placeholder="Insira um telefone"
                                           th:field="*{telefone}" required="required"/>
                                </div>
                                <div class="form-group col-12 col-lg-4">
                                    <label for="role">Tipo de Usuário<span class="obrigatorio">*</span></label><br/>
                                    <div class="form-check form-check-inline">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="radio" name="acesso" th:field="*{acesso}" th:value="${T(com.silverdev.ilg.model.enums.Role).ROLE_SECRETARIA}" th:text="${T(com.silverdev.ilg.model.enums.Role).ROLE_SECRETARIA.getAcesso()}"/>
                                        </label>
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="radio" name="acesso" th:field="*{acesso}" th:value="${T(com.silverdev.ilg.model.enums.Role).ROLE_PROFESSOR}" th:text="${T(com.silverdev.ilg.model.enums.Role).ROLE_PROFESSOR.getAcesso()}"/>
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group col-12 col-lg-4">
                                    <label for="username">Username<span class="obrigatorio">*</span></label>
                                    <input class="form-control" type="text" th:field="*{username}" placeholder="Insira um Username" required="required"/>
                                    <span id="userErro" class="invalid-feedback" role="alert"></span>
                                </div>
                                <div class="form-group col-12 col-lg-4">
                                    <label for="password">Password<span class="obrigatorio">*</span></label>
                                    <input class="form-control" type="password" th:field="*{password}" placeholder="Insira uma Senha " required="required"/>
                                </div>
                                <div class="form-group col-12 col-lg-2">
                                    <label for="CEP">CEP<span class="obrigatorio">*</span></label>
                                    <input id = "cep" class="form-control" type="text" th:field="*{CEP}" placeholder="Insira seu CEP " required="required"/>
                                </div>
                                <div class="form-group col-12 col-lg-2">
                                    <label class="col-form-label">Estado<span class="obrigatorio">*</span></label>
                                    <select class="form-control" th:field="*{estado}">
                                        <option th:each="sigla : ${T(com.silverdev.ilg.model.enums.Estado).values()}"
                                                th:value="${sigla}"
                                                th:text="${sigla.getNomeEstado()}"></option>
                                    </select>
                                </div>
                                <div class="form-group col-12 col-lg-4">
                                    <label for="bairro">Bairro<span class="obrigatorio">*</span></label>
                                    <input class="form-control" type="text" th:field="*{bairro}" placeholder="Bairro " required="required"/>
                                </div>
                                <div class="form-group col-12 col-lg-3">
                                    <label for="cidade">Cidade<span class="obrigatorio">*</span></label>
                                    <input class="form-control" type="text" th:field="*{cidade}" placeholder="Cidade " required="required"/>
                                </div>

                                <div class="form-group col-12 col-lg-4">
                                    <label for="rua">Rua<span class="obrigatorio">*</span></label>
                                    <input class="form-control" type="text" th:field="*{rua}" placeholder="Nome da Rua " required="required"/>
                                </div>
                                <div class="form-group col-12 col-lg-2">
                                    <label for="numero">Numero<span class="obrigatorio">*</span></label>
                                    <input class="form-control" type="text" th:field="*{numero}" placeholder="Numero da residencia " required="required"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <button id="btn-subimit" style="float: right" type="submit"  class="btn btn-primary">Cadastrar</button>
                            </div>
                        </form>
                        <script>
                            $(document).ready(function () {
                                $('#cpf').mask('000.000.000-00');
                                $('#nascimento').mask('00/00/0000', {placeholder: "__/__/____"});
                                $('#telefone').mask('(00) 0000-00000').keyup(function () {
                                    var size = $(this).val().length;
                                    if(size > 14)
                                        $(this).mask('(00) 00000-0000')
                                });
                            });
                            $('#nascimento').datepicker({
                                format: 'dd/mm/yyyy',
                                autoclose: true,
                                language: 'pt-BR'
                            });
                            $("#cpf").on('change',function () {
                                if (!TestaCPF($('#cpf').val())){
                                    alert("CPF não válido!");
                                }
                            });
                            /*$('#cpf').focusout(function () {
                                var cpf = validaCPF();
                                if(cpf) {
                                    $(this).removeClass('is-invalid');
                                    $('#btn-subimit').attr('disabled', false);
                                } else {
                                    $(this).addClass('is-invalid');
                                    $('#CPFerror').text("CPF Inválido");
                                    $('#btn-subimit').attr('disabled',true);
                                }
                            });*/
                            /* <![CDATA[ */
                            /*$(document).ready(function () {
                                $('#cpf').mask('000.000.000-00');
                                $('#data_nascimento').mask('00/00/0000', {placeholder: "__/__/____"});
                                $('#telefone').mask('(00) 0000-00000').keyup(function () {
                                    var size = $(this).val().length;
                                    if(size > 14)
                                        $(this).mask('(00) 00000-0000')
                                });
                            });*/
                            /* ]]> */
                            $("#cep").blur(function(){
                                var cep = this.value.replace(/[^0-9]/, "");

                                if(cep.length != 8){
                                    return false;
                                }

                                var url = "http://viacep.com.br/ws/"+cep+"/json/";

                                $.getJSON(url, function(dadosRetorno){
                                    try{
                                        // Preenche os campos de acordo com o retorno da pesquisa
                                        $("#rua").val(dadosRetorno.logradouro);
                                        $("#bairro").val(dadosRetorno.bairro);
                                        $("#cidade").val(dadosRetorno.localidade);
                                        $("#estado").val(dadosRetorno.uf);
                                    }catch(ex){}
                                });
                            });
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>

<br/>
<br/>
<br/>

<footer>

</footer>
</body>
</html>