<!DOCTYPE html>
<html>
<head>
    <title>ILG - Admin</title>
    <!--/*/ <th:block th:include="fragments/head :: head"></th:block> /*/-->
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-primary">
        <a class="navbar-brand" th:href="@{/}">
            <img th:src="@{/img/admin.png}" alt="ILG" />
            <span>Administrador </span>
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="btn btn-primary" th:href="@{/admCursos}"> VOLTAR </a>
                </li>
            </ul>
        </div>
    </nav>

</header>
<br/>
<br/>
<br/>

<div class="container">
    <div class="row">
        <div class="col-12 align-middle registro">
            <div th:if="${erro}">
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <span th:text="${erro}"></span>
                </div>
            </div>
            <div class="card">
                <div class="card-header text-center bg-info">
                    <b>NOVO CURSO</b>
                </div>
                <div class="card-body">
                    <h4 class="card-title text-center">
                        Entre com os dados para registrar um novo curso!
                    </h4>
                    <form th:action="@{/admCursos/register}" th:object="${curso}" method="post">
                        <div class="form-row">
                            <div class="form-group col-12 col-lg-6">
                                <label for="nome">Nome<span class="obrigatorio">*</span></label>
                                <input class="form-control" type="text" th:field="*{nome}" placeholder="Insira o nome do Curso" required="required"/>
                            </div>
                            <div class="form-group col-12 col-lg-6">
                                <label for="carga_horaria">Carga Horária<span class="obrigatorio">*</span></label>
                                <input class="form-control" type="text" th:field="*{carga_horaria}" placeholder="Insira uma carga horária" required="required"/>
                            </div>
                            <div class="form-group col-12 col-lg-6">
                                <label for="preco" class="col-form-label">Preço<span class="obrigatorio">*</span></label>
                                <input id="preco" type="text" class="form-control" th:field="*{preco}" placeholder="Insira um preço" required="required"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <button id="btn-subimit" style="float: right" type="submit" class="btn btn-primary">Cadastrar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<footer>

</footer>
</body>
</html>