<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>ILG - Inscriçao</title>
    <!--/*/ <th:block th:include="fragments/head :: head"></th:block> /*/-->
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-primary">
        <a class="navbar-brand" th:href="@{/}">
            <img th:src="@{/img/aluno.png}" alt="ILG" />
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="btn btn-primary" th:href="@{/ingressante/{id} (id = ${ingressante.id})}"> VOLTAR </a>
                </li>
            </ul>
        </div>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="btn btn-primary" th:href="@{/logout}"> Sair </a>
                </li>
            </ul>
        </div>
    </nav>

</header>
<br/>
<br/>
<br/>


<div class = "card" style="width: 80%; margin: auto;">
    <div class="card-header text-center" style="background-color: #D3D3D3;">
        <b>Turmas Disponiveis</b>
    </div>
    <form th:action="@{/ingressante/{id}/registro/{id} (id = ${ingressante.id})}" th:object="${ingressante}" method="post">
    <div class="card-body">

        <table class="table table-striped">
            <thead>
            <tr>
                <th>#Id</th>
                <th>Curso</th>
                <th>Descrição</th>
                <th>Professor</th>
                <th>Nº Vagas</th>
                <th>Preco</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="turmas: ${turmas}">
                <td th:text="${turmas.id}"></td>
                <div th:each="cursos: ${cursos}">
                    <div th:if="${turmas.curso_id == cursos.id}">
                        <td th:text="${cursos.nome}"></td>

                        <td th:text="${turmas.dias} +' das '+ ${turmas.horarios}"></td>
                        <td th:text="${turmas.professor}"></td>
                        <td th:text="${turmas.num_vagas}"></td>
                        <td th:text="${cursos.preco}"></td>
                    </div>
                </div>
                <td>
                    <div class="form-group">
                        <button id="btn-subimit" style="float: right" type="submit" class="btn btn-primary">Inscrever</button>
                    </div>
                </td>
            </tr>
            </tbody>
            <div class="form-group col-12 col-lg-4">
                <label class="col-form-label">Vinculo a UEM<span class="obrigatorio">*</span></label>
                <select class="form-control" th:field="*{posUem}">
                    <option th:each="pos : ${T(com.silverdev.ilg.model.enums.PosicaoUEM).values()}"
                            th:value="${pos}"
                            th:text="${pos.getPosicaoUem()}"></option>
                </select>
            </div>
        </table>

    </div>
    </form>
</div>

<footer>
</footer>

</body>
</html>