<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>ILG - Inscriçao</title>
    <!--/*/ <th:block th:include="fragments/head :: head"></th:block> /*/-->
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-primary">
        <a class="navbar-brand" th:href="@{/}">
            <img th:src="@{/img/aluno.png}" alt="ILG" />
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="btn btn-primary" th:href="@{/ingressante/{id} (id = ${ingressante.id})}"> VOLTAR </a>
                </li>
            </ul>
        </div>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="btn btn-primary" th:href="@{/logout}"> Sair </a>
                </li>
            </ul>
        </div>
    </nav>

</header>
<br/>
<br/>
<br/>
<div class = "card" style="width: 70%; margin: auto">
    <div class="card-header text-center" style="background-color: #D3D3D3;">
        <b>Cursos</b>
    </div>
    <div class="card-body">

            <thead>
            <tr>
                <th>Nome</th>
                <th>Carga Horária</th>
                <th>Preço</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="curso: ${cursos}">
                <td th:text="${curso.nome}"></td>
                <td th:text="${curso.carga_horaria}"></td>
                <td th:text="${curso.preco}"></td>
                <td>
                <div class="btn-group" role="group">

                    <a id="demo" class="btn btn-primary">Ver mais</a>
                    <!--a href="#demo" class="btn btn-info" data-toggle="collapse">Simple collapsible</a-->
                    <div id="info" class="collapse justify-content-end">

                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>#Id</th>
                                    <th>Curso</th>
                                    <th>Descrição</th>
                                    <th>Professor</th>
                                    <th>Nº Vagas</th>
                                    <th>Data de Criação</th>
                                    <th>Disponibilidade</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="turmas: ${turmas}">
                                    <td th:text="${turmas.id}"></td>
                                    <div th:each="cursos: ${cursos}">
                                        <div th:if="${turmas.curso_id == cursos.id}">
                                            <td th:text="${cursos.nome}"></td>
                                        </div>
                                    </div>
                                    <td th:text="${turmas.dias} +' das '+ ${turmas.horarios}"></td>
                                    <td th:text="${turmas.professor}"></td>
                                    <td th:text="${turmas.num_vagas}"></td>
                                    <td th:text="${turmas.data_criacao}"></td>
                                    <div th:if="${turmas.disponivel}">
                                        <td>Disponível</td>
                                    </div>
                                    <div th:unless="${turmas.disponivel}">
                                        <td>Indisponível</td>
                                    </div>
                                    <td>
                                        <div class="btn-group" role="group">
                                            <a class="btn btn-primary btn-sm"
                                               th:href="@{/admin/admTurmas/edit/{id} (id=${turmas.id})}">Inscrever</a>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                        </div>
                </div>
                </td>
            </tr>
            </tbody>


    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12 align-middle registro">
            <div th:if="${error_cpf}">
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <span th:text="${error_cpf}"></span>
                </div>
            </div>
            <div th:if="${error_user}">
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <span th:text="${error_user}"></span>
                </div>
            </div>
            <div class="card">
                <div class="card-header text-center" style="background-color: #D3D3D3;">
                    <b th:text="'Aqui voce pode se matricular em novo cursos no ILG!'"></b>
                </div>
                <div class="card-body">
                    <h4 class="card-title text-center">
                    </h4>
                    <form th:action="@{/ingressante/{id}/registro/{id} (id = ${ingressante.id})}" th:object="${ingressante}" method="post">
                        <div class="form-row">

                            <div class="form-group col-12 col-lg-4">
                                <label class="col-form-label">Vinculo a UEM<span class="obrigatorio">*</span></label>
                                <select class="form-control" th:field="*{posUem}">
                                    <option th:each="pos : ${T(com.silverdev.ilg.model.enums.PosicaoUEM).values()}"
                                            th:value="${pos}"
                                            th:text="${pos.getPosicaoUem()}"></option>
                                </select>
                            </div>

                            <div class="form-group col-12 col-lg-4">
                                <label class="col-form-label">Vinculo a UEM<span class="obrigatorio">*</span></label>
                                <select class="form-control" th:field="*{nome_curso}">
                                    <option th:each="curso: ${cursos}"
                                            th:value="${curso}"
                                            th:text="${curso.getNome()}"></option>
                                </select>
                            </div>
                            <div class="form-group col-12 col-lg-4">
                                <label class="col-form-label">Vinculo a UEM<span class="obrigatorio">*</span></label>
                                <select class="form-control" th:field="*{nome_curso}">
                                <option th:each="turmas: ${turmas}"
                                            th:value="${turmas}"
                                            th:text="${turmas.getDias()}"></option>
                                    <option th:each="turmas: ${turmas}"
                                            th:value="${turmas}"
                                            th:text="${turmas.getHorarios()}"></option>
                                </select>
                            </div>
                            <thead>
                            <tr>
                                <th>#Id</th>
                                <th>Curso</th>
                                <th>Descrição</th>
                                <th>Professor</th>
                                <th>Nº Vagas</th>
                                <th>Data de Criação</th>
                                <th>Disponibilidade</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="turmas: ${turmas}">
                                <td th:text="${turmas.id}"></td>
                                <div th:each="cursos: ${cursos}">
                                    <div th:if="${turmas.curso_id == cursos.id}">
                                        <td th:text="${cursos.nome}"></td>
                                    </div>
                                </div>
                                <td th:text="${turmas.dias} +' das '+ ${turmas.horarios}"></td>
                                <td th:text="${turmas.professor}"></td>
                                <td th:text="${turmas.num_vagas}"></td>
                                <td th:text="${turmas.data_criacao}"></td>
                                <div th:if="${turmas.disponivel}">
                                    <td>Disponível</td>
                                </div>
                                <div th:unless="${turmas.disponivel}">
                                    <td>Indisponível</td>
                                </div>
                                <td>
                                    <div class="btn-group" role="group">
                                        <a class="btn btn-warning btn-sm"
                                           th:href="@{/admin/admTurmas/edit/{id} (id=${turmas.id})}">Editar</a>
                                        <a type="button" class="btn btn-danger btn-sm"
                                           th:href="@{/admin/admTurmas/delete/{id} (id=${turmas.id})}">Excluir</a>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </div>
                        <div class="form-group">
                            <button id="btn-subimit" style="float: right" type="submit" class="btn btn-primary">Cadastrar</button>
                        </div>
                    </form>
                    <script>
                        /* <![CDATA[ */
                        $(document).ready(function(){
                            $(demo).click(function(){
                                $(info).toggle();
                            });
                        });
                        $(document).ready(function () {
                            $('#cpf').mask('000.000.000-00');
                            $('#data_nascimento').mask('00/00/0000', {placeholder: "__/__/____"});
                            $('#telefone').mask('(00) 0000-00000').keyup(function () {
                                var size = $(this).val().length;
                                if(size > 14)
                                    $(this).mask('(00) 00000-0000')
                            });
                            $('#rg').mask('00.000.000-0');
                            $('#cep').mask('00000-000');
                        });
                        /* ]]> */
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>

<footer>
</footer>

</body>
</html>