<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>ILG - Inscriçao</title>
    <!--/*/ <th:block th:include="fragments/head :: head"></th:block> /*/-->
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-primary">
        <a class="navbar-brand" th:href="@{/}">
            <img th:src="@{/img/aluno.png}" alt="ILG" />
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="btn btn-primary" th:href="@{/ingressante/{id} (id = ${ingressante.id})}"> VOLTAR </a>
                </li>
            </ul>
        </div>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="btn btn-primary" th:href="@{/logout}"> Sair </a>
                </li>
            </ul>
        </div>
    </nav>

</header>
<br/>
<br/>
<br/>
<div class="container">
    <div class="row">
        <div class="col-12 align-middle registro">
            <div th:if="${error_cpf}">
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <span th:text="${error_cpf}"></span>
                </div>
            </div>
            <div th:if="${error_user}">
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <span th:text="${error_user}"></span>
                </div>
            </div>
            <div class="card">
                <div class="card-header text-center" style="background-color: #D3D3D3;">
                    <b th:text="'Aqui voce pode se matricular em novo cursos no ILG!'"></b>
                </div>
                <div class="card-body">
                    <h4 class="card-title text-center">
                    </h4>
                    <form th:action="@{/ingressante/{id}/registro/{id} (id = ${ingressante.id})}" th:object="${ingressante}" method="post">
                        <div class="form-row">
                            <div class="form-group col-12 col-lg-6">
                                <label for="cod_curso">Codigo<span class="obrigatorio">*</span></label>
                                <input class="form-control" type="text" th:field="*{cod_curso}" placeholder="Codigo curso " required="required"/>
                            </div>
                            <div class="form-group col-12 col-lg-6">
                                <label for="nome_curso">Nome do Curso<span class="obrigatorio">*</span></label>
                                <input class="form-control" type="text" th:field="*{nome_curso}" placeholder="Nome Curso " required="required"/>
                            </div>

                        </div>
                        <div class="form-group">
                            <button id="btn-subimit" style="float: right" type="submit" class="btn btn-primary">Cadastrar</button>
                        </div>
                    </form>
                    <script>
                        /* <![CDATA[ */
                        $(document).ready(function () {
                            $('#cpf').mask('000.000.000-00');
                            $('#data_nascimento').mask('00/00/0000', {placeholder: "__/__/____"});
                            $('#telefone').mask('(00) 0000-00000').keyup(function () {
                                var size = $(this).val().length;
                                if(size > 14)
                                    $(this).mask('(00) 00000-0000')
                            });
                            $('#rg').mask('00.000.000-0');
                            $('#cep').mask('00000-000');
                        });
                        /* ]]> */
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>

<footer>
</footer>

</body>
</html>