html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

body{
    padding-top: 70px;
}

div.Container{
    height: auto;
    width: 68em;
    background-color: #FFFFFF;
    margin: 0 auto;
    padding: 0;
}
