html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

body {
  padding-top: 51px;
  margin: 100;
}

.container, .container-fluid {
 padding-right: 20px;
 padding-left: 20px;
 background-color:#f0f0f0;

}
.row {
 margin-bottom: 20px;
}
[class*="col-"], footer, nav, aside, section, div[role="main"] {
 font-family:"Open Sans", sans-serif;
 border-radius: 3px;
 background-color: #f0f0f0;
 text-align: justify;
}
div[role="main"] {
 background-color: #fff;
}


.ba-textobusq {
border: 1px solid #f8f8f8;/*--define a cor da borda--*/
box-sizing: border-box;
color: #fff; /*--define a cor da fonte--*/
font-family: 'Lora', serif;
font-size: 14px;
padding:9px;
width: 220px;
transition: all 0.3s ease-in-out;
-webkit-transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
-ms-transition: all 0.3s ease-in-out;
}
.ba-textobusq:hover {
box-shadow:inset 1px 1px 8px gainsboro;
}
.ba-textobusq:focus {
background-image: -webkit-linear-gradient(white,white);
background-image: -moz-linear-gradient(white,white);
background-image: -ms-linear-gradient(white,white);
background-image: -o-linear-gradient(white,white);
background-color:white;
outline:1px solid #f8f8f8;
color: #000;
font-style:normal;
box-shadow:inset 1px 1px 8px gainsboro;
border:1px solid #bebebe;
}
.ba-enviar {
background:#BEBEBE; /*--define a cor do botão Buscar--*/
border: 1px solid #E3E3D9;/*--define a cor da borda do botão Buscar--*/
color: white;
cursor: pointer;
font-family: 'Droid Sans', sans-serif !important;
color: #000;
cursor: pointer;
line-height: 19px;
padding: 8px 10px;
text-decoration: none;
}
.ba-enviar:hover {
background:#BEBEBE; /*--define a cor do botão Buscar hover--*/
}
