<!DOCTYPE html>
<html>
<head>
    <title>ILG - NOME DA PAGINA</title>
    <!--/*/ <th:block th:include="fragments/head :: head"></th:block> /*/-->
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-primary">
        <a class="navbar-brand" th:href="@{/}">
            <img th:src="@{/endereco/da/imagem}" alt="ILG" />
            <span>Nome do ator </span>
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="btn btn-primary" th:href="@{/endereco/da/referencia}"> Referencia </a>
                </li>
            </ul>
        </div>
        <!-- SE A PAGINA PRECISAR DE LOGOUT USAR A SEGUINTE DIV-->
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="btn btn-primary" th:href="@{/login?logout}"> Sair </a>
                </li>
            </ul>
        </div>
    </nav>

</header>


<footer>
</footer>

</body>
</html>