<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <meta name="description" content=""/>
  <meta name="author" content=""/>

  <title>Instituto de Línguas</title>
  <link rel="icon" th:href="@{/img/favicon.png}"/>

  <!-- Bootstrap core CSS -->
  <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>

  <!-- Custom fonts for this template -->
  <link th:href="@{/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css"/>
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css"/>

  <!-- Custom styles for this template -->
  <link th:href="@{/css/landing-page.css}" rel="stylesheet"/>

</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img th:src="@{/img/favicon.png}" alt="ILG" />
      INSTITUTO DE LÍNGUAS
    </a>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <i class="fa fa-twitter" align="left"></i>
        </li>
        <li class="nav-item">
          <i class="fa fa-facebook-f fa-fw"></i>
        </li>
        <li class="nav-item">
          <i class="fa fa-google-plus fa-fw"></i>
        </li>
      </ul>
    </div>
    <!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
      </ul>
    </div>-->
  </div>
</nav>

<!-- Header -->
<header class="intro-header banner">
  <div class="container">
    <div class="intro-message">
      <hr class="intro-divider">
      <ul class="list-inline intro-social-buttons">
        <li class="list-inline-item">
          <a th:href="@{/inscricao}" class="btn btn-light btn-lg">
            <span class="network-name">INSCREVA-SE</span>
          </a>
        </li>
        <li class="list-inline-item">
          <a th:href="@{/login}" class="btn btn-light btn-lg">
            <span class="network-name">LOGIN</span>
          </a>
        </li>
      </ul>
    </hr>
    </div>
  </div>
</header>

<!-- Bootstrap core JavaScript -->
<script th:src="@{/jquery/jquery.min.js}"/>
<script th:src="@{/popper/popper.min.js}"/>
<script th:src="@{/js/bootstrap.min.js}"/>

</body>

</html>