<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <meta name="description" content=""/>
  <meta name="author" content=""/>

  <title>Instituto de Línguas</title>
  <link rel="icon" th:href="@{/img/favi.png}"/>

  <!-- Bootstrap core CSS -->
  <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>

  <!-- Custom fonts for this template -->
  <link th:href="@{/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css"/>
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css"/>

  <!-- Custom styles for this template -->
  <link th:href="@{/css/landing-page.css}" rel="stylesheet"/>

</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img th:src="@{/img/ilg2.png}" alt="ILG" style="max-width: 20%;"/>
         Instituto de Línguas
    </a>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter" align="left"></i></a>
        </li>
        <li class="nav-item">
          <a href="https://www.facebook.com/Instituto-de-L%C3%ADnguas-ILG-UEM-281146238622827/" target="_blank"><i class="fa fa-facebook-f fa-fw"></i></a>
        </li>
        <li class="nav-item">
          <a href="https://" target="_blank"><i class="fa fa-google-plus fa-fw"></i></a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Header -->
<header class="intro-header banner">
  <div class="container">
    <div class="intro-message">
      <ul class="list-inline intro-social-buttons" style="position: absolute; bottom: 1%; left: 40%">
        <li class="list-inline-item">
          <div th:if="${ativo}">
            <a class="btn btn-light btn-lg" th:target="_blank"
               th:href="@{/ingresso/register}">INSCREVA-SE</a>
          </div>
          <div th:unless="${ativo}">
            <a class="btn btn-light btn-lg disabled"
               th:href="@{/}">INSCREVA-SE</a>
          </div>
        </li>
        <li class="list-inline-item">
          <a th:href="@{/login}" class="btn btn-light btn-lg">
            <span class="network-name">LOGIN</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>

<!-- Bootstrap core JavaScript -->
<script th:src="@{/jquery/jquery.min.js}"/>
<script th:src="@{/popper/popper.min.js}"/>
<script th:src="@{/js/bootstrap.min.js}"/>

</body>

</html>