<!DOCTYPE html>
<html>
<head>
  <title>ILG - Alunos</title>
  <!--/*/ <th:block th:include="fragments/head :: head"></th:block> /*/-->
</head>

<body>
<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <a class="navbar-brand" th:href="@{/}">
      <img th:src="@{/img/aluno.png}" alt="ILG" />
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="btn btn-primary" th:href="@{/aluno/notas/{id} (id = ${aluno.id})}"> NOTAS </a>
        </li>
        <li class="nav-item">
          <a class="btn btn-primary" th:href="@{/aluno/visuaAprovacao/{id} (id = ${aluno.id})}"> APROVAÇÃO </a>
        </li>
        <li class="nav navbar-nav navbar-right">
          <a class="btn btn-primary" th:href="@{/}">SAIR</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
  <!--End-Navbar-->
  <div class="container">
    <b><br><legend>Dados Pessoais</legend></br></b>
    <h5><br>Nome:</br>
      <br>CPF:</br>
      <br>RG:</br>
      <br>Telefone:</br>
      <br>Aniversário:</br>
    </h5>
  </div>
    <tr th:each="aluno : ${aluno}">
    <td th:text="${aluno.nome}"></td>
    <td th:text="${aluno.cpf}"></td>
    <td th:text="${aluno.rg}"></td>
    <td th:text="${aluno.telefone}"></td>
    <td th:text="${aluno.data_nascimento}"></td>
    <td>
    </td>
  </tr>
  </body>
</html>
