<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <link rel="icon" th:href="@{/img/favicon.png}">
    <title>Instituto de Línguas</title>

    <link th:href="@{/css/aluno.css}" rel="stylesheet">

    <!-- Bootstrap -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"></link>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
  <div class="panel panel-default">
    <div class="panel-heading">
      <strong>Posts</strong>
    </div>
    <div class="panel-body">
      <div class="table-responsive">
        <table class="table table-sm table-striped table-hover table-bordered">
          <thead>
          <tr>
            <th>CPF</th>
            <th>PROVA1</th>
            <th>PROVA AUX1</th>
            <th>PROVA2</th>
            <th>PROVA AUX2</th>
            <th>FALTAS</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="post : ${posts}">
            <td th:text="${sala.id}"></td>
            <td th:text="${post.autor}"></td>
            <td th:text="${post.titulo}"></td>
            <td th:text="${#dates.format(post.data, 'dd/MM/yyyy')}"></td>
            <td>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="panel-footer">
      <a class="btn btn-sm btn-success" th:href="@{/add/}" >Adicionar</a>
    </div>
  </div>
  </body>
</html>
